
.kast {
    width: 250px;
    height: 300px;
    background-color: whitesmoke;
    border-width: 6px;
    border-color: black;
    border-style: solid;
    margin: 1rem;
    padding: 1rem;
}
.projektid {
    justify-content: space-between;
    align-items: start;
    display: flex;
    flex-wrap: wrap;
}
header {
    width: 100%;
    background-color: whitesmoke;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 6px;
    border-color: black;
    border-style: solid;
}
img {
    width: 80%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
}

body {
    background-color: gray;
    font-size: 1.5rem;
}




.tahvlivaade,
.desktopivaade {
    display: none;
}


@media screen and (min-width: 600px) {
    body {
        background-color: gray;
        font-size: 2rem;
        color: black;
    }

    .tahvlivaade {
        display: block;
    }

    .mobiilivaade {
        display: none;
    }
}

@media screen and (min-width: 900px) {
    body {
        background-color: grey;
    }

    .tahvlivaade {
        display: none;
    }

    .desktopivaade {
        display: block;
    }
}