.kast {

    width: 200px;
    height: 200px;
    background-color: whitesmoke;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    margin: 1rem;
    padding: 3rem;
}

.projektid {
    justify-content: space-between;
    align-items: start;
    display: flex;
    flex-wrap: wrap;
}

header {
    width: 100%;
    background-color: whitesmoke;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

img {
    width: 50%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;

}

body {
    background-color: aqua;
    font-size: 1.5rem;
}

.tahvlivaade,
.desktopivaade {
    display: none;
}


@media screen and (min-width: 600px) {
    body {
        background-color: palevioletred;
        font-size: 2rem;
        color: black;
    }

    .tahvlivaade {
        display: block;
    }

    .mobiilivaade {
        display: none;
    }
}

@media screen and (min-width: 900px) {
    body {
        background-color: blueviolet;
    }

    .tahvlivaade {
        display: none;
    }

    .desktopivaade {
        display: block;
    }
}