.body {
    font-family: 'Montserrat', sans-serif;
    margin: auto 0;
}

h1 {
    font-weight: 400;
}

form {
    margin-top: 30px;
    font-weight: 600;
}


input[type=text] {
    box-sizing: border-box;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;

}

input[type=email] {
    box-sizing: border-box;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    width: 100%;
}

#markus {
    height: 200px;
    text-align: left;
}

label, input {
    display: block;
}


.button {
    color: white;
    background-color: #0B0B0B;
    font-size: 12.5px;
    width: 247px;
    height: 58px;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    margin: 4px 2px;
    text-decoration: none;

}