.body {
    font-family: 'Montserrat', sans-serif;
}

.paiskonteiner {
    width: 100%;
    height: 770px;
    background-image: url(./assets/Hills.png);
    background-position: center;
    background-size: cover;
}

.pais {
    display: flex;
    align-items: center;
}

.pais-nimi {
    width: 126px;
    font-weight: 800;
    letter-spacing: 0px;
    color: #0B0B0B;
    font-size: 33px;
    line-height: 30px;
}

.pais-logo img {
    width: 66.72px;
    height: 64px;
}

header {
    width: 100%;
    height: 100px;
}

.tiitel {
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (min-width: 1000px) {
.paiskonteiner {
    background-image: url(./assets/Hills@2x.png);
}

}