html {
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
}

body {
    background-color: violet;
}

.konteiner {
    background-color: lightsalmon;
    width: 80%; 
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 10px;
}

.uudis-kuupaev {
    font-size: 0.75rem;
}

.uudis-pealkiri {
    font-size: 28px;
    color: blue;
}
.uudis-sisu {
    padding: 20px;
}

li {
    font-weight: bold;
    color: violet;
}

img{
    width: 40%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 10px;

}